﻿@{
ViewData["Title"] = "Home Page";
}

<div class="text-center my-5">
    <h1 class="display-4 mb-4">Welcome</h1>
    <a asp-action="Contacts" class="btn btn-lg" style="background:#cce5ff; color:#004085; border-radius:12px; padding:12px 25px;">
        Overview
    </a>
    <a asp-action="CreateEditContacts" class="btn btn-lg" style="background:#e2e3e5; color:#495057; border-radius:12px; padding:12px 25px;">
        Create New
    </a>
</div>





